- *.log
- *.pem
- *.key
- */.*
- etc/letsencrypt/*
- autoBackup/remote/*
- autoBackup/remote/*.zip
- autoBackup/temp/*
- *ssl*.o
- /usr/local/bin/autoBackup/remote/*
- /usr/local/bin/autoBackup/remote*
- /etc/alternatives/*
